@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #5555 #5553;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
*::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: transparent;
}

*::-webkit-scrollbar-track:hover {
  background-color: transparent;
}

*::-webkit-scrollbar-track:active {
  background-color: #5556;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #5555;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #5556;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #5556;
}
